<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<h1>Django rest-framework Social Oauth2 test</h1>


<p>User : {{ user }} </p>


{% if user.is_authenticated %}

<h2>Welcome</h2>
<b>
    <p>Username : {{user.username}} </p>
    <p>First name : {{user.first_name}} </p>
    <p>Last name : {{user.last_name}} </p>
    <p>email : {{user.email}} </p>
    <p>Joined : {{user.date_joined}} </p>

    <hr>

    <p>Access token : {{access_token}}</p>
    <p>Provider : {{provider}}</p>
    <p>Expires : {{expires}}</p>

    <hr>
</b>


<a href="{% url 'logout' %}">Logout</a>

{% else %}

<p><a href="{% url 'register' %}">Register</a></p>

<p><a href="{% url 'login' %}?next=/">Login</a></p>

<p><a href="/auth/login/github/?next=/">Login with Github</a></p>

{% endif %}



</body>
</html>